{% extends 'root.twig' %}

{% block title %}
    Purchase List
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/purchase/purchase-list.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/link.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/purchase/view-purchase.css">
    <script src="https://kit.fontawesome.com/c3d300ba56.js" crossorigin="anonymous"></script>
{% endblock %}

{% block panel_title %}
    Purchase List
{% endblock %}

{% set paths = [
    { 'name': 'Dashboard', 'url': '/dashboard' },
    { 'name': 'Purchase List', 'url': '/purchase-list' }
] %}

{% block body %}

    {% if errors %}
        <div class="error-container bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 fixed top-0 left-0 right-0 z-[999] transition-all duration-300"
            role="alert">
            <p class="font-bold">Warning</p>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <section class="purchase__list_container_head grid grid-cols-1 md:grid-cols-12">
        <div class="col-span-6">
            <form id="dateRangeForm" class="filter-form grid grid-cols-1 md:grid-cols-12 gap-4" action="" method="post">
                <div class="col-span-4">
                    <h1>Start Date</h1>
                    <input id="start-date" name="start_date" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 
                    text-sm rounded-lg block w-full p-2.5
                    transition-all duration-200
                    focus:bg-gray-200 dark:focus:bg-slate-600
                    outline-none h-11 min-h-11
                    dark:bg-slate-500 dark:border-slate-800
                    dark:placeholder-gray-400 dark:text-white 
                    " 
                    {% if (start_date) %} placeholder="{{ start_date }}" {% else %} placeholder="01 Jan, 2024 - 10:00" {% endif %}>
                </div>
        
                <div class="col-span-4">
                    <h1>End Date</h1>
                    <input id="end-date" name="end_date"  type="text" class="bg-gray-50 border border-gray-300 text-gray-900 
                    text-sm rounded-lg block w-full p-2.5
                    transition-all duration-200
                    focus:bg-gray-200 dark:focus:bg-slate-600
                    outline-none h-11 min-h-11
                    dark:bg-slate-500 dark:border-slate-800
                    dark:placeholder-gray-400 dark:text-white 
                    " {% if (end_date) %} placeholder="{{ end_date }}" {% else %} placeholder="31 Dec, 2024 - 10:00" {% endif %}>
                </div>
        
                <div class="head__button_container col-span-4">
                    <button class="bg-green-500 hover:bg-green-600 transition-all duration-200 
                    text-white rounded-lg px-3 py-2.5 flex justify-center items-center">
                        <ion-icon name="search-outline" class="search__icon dark:text-[#fdfdfd]"></ion-icon>
                        <span class="ml-2 block md:hidden">Search</span>
                    </button>
                </div>
            </form>
        </div>
    
        <div class="content__button_container col-span-6">
            <!-- <a> -->
            <button onclick="addPurchaseTogglePanel()" class="bg-[#2998FF] hover:bg-[#3280c9]  
        dark:bg-[#7655fa] dark:hover:bg-[#8162fa] transition-all duration-200 text-white rounded-lg px-3 py-2.5 flex justify-center items-center">
            <ion-icon name="add-outline" class="add__icon dark:text-[#fdfdfd] mr-2"></ion-icon>    
            Add Purchase
            </button>
            <!-- </a> -->
        </div>
    </section>


    <!-- Background Overlay -->
    <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden z-40"></div>

    <!-- Sliding Panel -->
    <div id="addPurchasePanel" class="fixed right-0 top-0 w-full md:w-1/2 h-full bg-white 
    dark:bg-gray-800 transform translate-x-full transition-transform duration-300 shadow-lg z-50 overflow-y-auto">
        {% include 'add-purchase.html.twig' %}
    </div>

    <!-- View Panel -->
    <div id="viewPurchasePanel" class="fixed right-0 top-0 w-full md:w-1/2 h-full bg-white 
    dark:bg-gray-800 transform translate-x-full transition-transform duration-300 shadow-lg z-50 overflow-y-auto">
        {% include 'view-purchase.html.twig' %}
    </div>

    <!-- Delete Modal -->
    <div id="deletePurchaseModal" class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full">
        {% include 'delete-purchase-modal.html.twig' %}
    </div>

    <!-- Update Panel -->
    <div id="updatePurchasePanel" class="fixed right-0 top-0 w-full md:w-1/2 h-full bg-white 
    dark:bg-gray-800 transform translate-x-full transition-transform duration-300 shadow-lg z-50 overflow-y-auto">
        {% include 'update-purchase.html.twig' %}
    </div>
    
    <section class="purchase__list_container_content mt-8 
    flex-grow p-6 rounded-lg dark:border-slate-800
    bg-gray-50 border border-gray-300 dark:bg-slate-500">
        
        <div class="overflow-x-auto sm:rounded-lg overflow-y-hidden px-2">
            <div class="flex flex-col sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between py-4"> 
                <div class="flex">
                    <button id="dropdownRadioButton" data-dropdown-toggle="dropdownRadio" class="inline-flex items-center text-gray-500 bg-white border 
                    border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 
                    dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                        <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                        </svg>
                        {% if (relativeDate) == 1 %} Last day {% else %} Last {{ relativeDate }} days {% endif %}
                        <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <form id="relativeDateForm" class="filter-form" action="" method="post">
                        <div id="dropdownRadio" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-1" name="relativeDate" type="radio" value="1" 
                                            {% if relativeDate == 1 %} checked {% endif %} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-1" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last day</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-2" name="relativeDate" type="radio" value="7" 
                                            {% if relativeDate == 7 %} checked {% endif %} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-2" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last 7 days</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-3" name="relativeDate" type="radio" value="30" 
                                            {% if relativeDate == 30 %} checked {% endif %} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-3" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last 30 days</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-5" name="relativeDate" type="radio" value="365" 
                                            {% if relativeDate == 365 %} checked {% endif %} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-5" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last year</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>

                    <!-- Advanced Filter Button -->
                    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                        class="ml-5 inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none 
                        hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5
                        dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                        type="button">
                        <svg class="w-5 h-4 text-gray-500 dark:text-gray-400 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"/>
                        </svg>
                        Advanced Filters
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden h-[27rem] w-72 px-3 py-1 bg-white rounded-lg shadow dark:bg-gray-700 overflow-y-auto">
                        <form action="" method="post" id="advancedFilterForm" class="filter-form inset-0 m-0 px-4 py-2 bg-white rounded-lg dark:bg-gray-700" aria-labelledby="dropdownDefault">
                            <!-- Filter Title -->
                            <h6 id="drawer-label" class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                Advanced Filters
                            </h6>
                        
                            <!-- Price Range Section -->
                            <div class="my-1">
                                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Price Range</label>
                                <div class="flex items-center space-x-2 mt-2">
                                    <input id="min-price" type="range" min="0" max="9999999"  step="1" class="w-full" {%if (min_price) %} value="{{ min_price }}" {% else %} value="0" {% endif %}>
                                    <input id="max-price" type="range" min="0" max="9999999"  step="1" class="w-full" {%if (min_price) %} value="{{ max_price }}" {% else %} value="0" {% endif %}>
                                </div>
                                <div class="flex justify-between text-sm mt-2">
                                    <div>
                                        <label for="min-price-input" class="block text-gray-600 dark:text-gray-400">From</label>
                                        <input name="min_price" type="number" id="min-price-input"  min="0" max="9999999" {%if (min_price) %} value="{{ min_price }}" {% else %} value="0" {% endif %} class="w-full mt-1 border border-gray-300 rounded-lg p-3 text-gray-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500">
                                    </div>
                                    <div>
                                        <label for="max-price-input" class="block text-gray-600 dark:text-gray-400">To</label>
                                        <input name="max_price" type="number" id="max-price-input"  min="0" max="9999999" {%if (min_price) %} value="{{ max_price }}" {% else %} value="0" {% endif %} class="w-full mt-1 border border-gray-300 rounded-lg p-3 text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500">
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Sales Section -->
                            <!-- <div class="my-4">
                                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Sales</label>
                                <div class="flex items-center space-x-2 mt-2">
                                    <input id="min-sales" type="range" min="0" max="7000" value="300" step="1" class="w-full">
                                    <input id="max-sales" type="range" min="0" max="7000" value="3500" step="1" class="w-full">
                                </div>
                                <div class="flex justify-between text-sm mt-2">
                                    <div>
                                        <label for="min-sales-input" class="block text-gray-600 dark:text-gray-400">From</label>
                                        <input type="number" id="min-sales-input" value="1" min="0" max="300" class="w-full mt-1 border border-gray-300 rounded-lg p-3 text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500">
                                    </div>
                                    <div>
                                        <label for="max-sales-input" class="block text-gray-600 dark:text-gray-400">To</label>
                                        <input type="number" id="max-sales-input" value="100" min="0" max="300" class="w-full mt-1 border border-gray-300 rounded-lg p-3 text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 focus:ring-blue-500 focus:border-blue-500">
                                    </div>
                                </div>
                            </div> -->
                        
                            <!-- Category Section -->
                            <div class="my-4">
                                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Status</label>
                                <ul class="mt-2 space-y-2">
                                    <li class="flex items-center ">
                                        <input type="checkbox" id="completed" name="category[]" value="completed" class="hidden peer"
                                        {% if 'completed' in categories %} checked {% endif %}>
                                        <label for="completed" class="w-full py-2 px-4 rounded-lg cursor-pointer text-sm text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent transition">
                                            Completed
                                        </label>
                                    </li>
                                    <li class="flex items-center ">
                                        <input type="checkbox" id="pending" name="category[]" value="pending" class="hidden peer"
                                        {% if 'pending' in categories %} checked {% endif %}>
                                        <label for="pending" class="w-full py-2 px-4 rounded-lg cursor-pointer text-sm text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent transition">
                                            Pending
                                        </label>
                                    </li>
                                    <li class="flex items-center ">
                                        <input type="checkbox" id="backordered" name="category[]" value="backordered" class="hidden peer"
                                        {% if 'backordered' in categories %} checked {% endif %}>
                                        <label for="backordered" class="w-full py-2 px-4 rounded-lg cursor-pointer text-sm text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent transition">
                                            Backordered
                                        </label>
                                    </li>
                                    <li class="flex items-center ">
                                        <input type="checkbox" id="failed" name="category[]" value="failed" class="hidden peer"
                                        {% if 'failed' in categories %} checked {% endif %}>
                                        <label for="failed" class="w-full py-2 px-4 rounded-lg cursor-pointer text-sm text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent transition">
                                            Failed
                                        </label>
                                    </li>
                                    <li class="flex items-center ">
                                        <input type="checkbox" id="canceled" name="category[]" value="canceled" class="hidden peer"
                                        {% if 'canceled' in categories %} checked {% endif %}>
                                        <label for="canceled" class="w-full py-2 px-4 rounded-lg cursor-pointer text-sm text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent transition">
                                            Canceled
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- Button Container -->
                            <div class="mt-4 flex space-x-4 justify-center">
                                <button type="submit" class="py-1.5 px-4 text-xs font-semibold text-white rounded-lg focus:outline-none focus:ring-2 transition-colors duration-200
                                        bg-[#2998FF] hover:bg-[#1f7ecb] focus:ring-[#2998FF]
                                        dark:bg-[#7655fa] dark:hover:bg-[#5c45c6] dark:focus:ring-[#7655fa]">
                                    Show Results
                                </button>
                                <button type="reset" class="py-1.5 px-4 text-sm font-semibold text-white rounded-lg focus:outline-none focus:ring-2 transition-colors duration-200
                                        bg-[#2998FF] hover:bg-[#1f7ecb] focus:ring-[#2998FF]
                                        dark:bg-[#7655fa] dark:hover:bg-[#5c45c6] dark:focus:ring-[#7655fa]">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>

                <div class="flex">

                    <div class="">
                        <a href="/purchase-list">
                            <button class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 
                            focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2 mr-5 
                            dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                <ion-icon name="refresh-outline" class="add__icon text-gray-500 dark:text-gray-400 mr-2"></ion-icon>  
                                <span class="hidden sm:inline">Clear Filters</span>
                            </button>
                        </a>
                    </div>
                    
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <form id="searchForm" class="filter-form" action="" method="post">
                            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            </div>
                            <input type="text" id="table-search"  name="purchase_search"
                            class="block w-6/12 md:w-80 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 
                            focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                            dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="search for a vendor/material type" 
                            {% if (purchase_search) %}
                                value="{{ purchase_search }}"
                            {% endif %}>
                        </form>
                    </div>

                    <div class="flex justify-center sm:justify-end sm:w-auto">
                        <!-- Export Button -->
                        <a href="/export-purchase">
                            <button class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 
                            focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2 ml-5 
                            dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                <ion-icon name="arrow-down-outline" class="add__icon text-gray-500 dark:text-gray-400 mr-2"></ion-icon>    
                                <span class="hidden sm:inline">Export Data</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full max-h-[27rem] overflow-y-auto border border-gray-300 dark:border-gray-700 rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="relative text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="sticky top-0 bg-white dark:bg-gray-700">
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                    <span class="ml-2">Purchase ID</span>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">Vendor</th>
                            <th scope="col" class="px-6 py-3">Material Types</th>
                            <th scope="col" class="px-6 py-3">Material Count</th>
                            <th scope="col" class="px-6 py-3">Total Cost</th>
                            <th scope="col" class="px-6 py-3">Status</th>
                            <th scope="col" class="px-6 py-3">Actions</th>
                        </tr>
                    </thead>
                    {% for purchase in purchaseMaterials %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="md:px-6 md:py-4">
                                <div class="flex items-center px-4">
                                    <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label class="sr-only">checkbox</label>
                                    <span class="ml-2">{{ purchase.purchase_id }}</span>
                                </div>
                            </td>
                            <td class="md:px-6 md:py-4 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ purchase.date_of_purchase }}</td>
                            <td class="md:px-6 md:py-4">{{ purchase.vendor_name }}</td>
                            <td class="px-10 md:px-6 md:py-4">{{ purchase.material_types | title }}</td>
                            <td class="md:px-6 md:py-4 text-center md:text-start">{{ purchase.material_count  }}</td>
                            <td class="md:px-6 md:py-4">${{ purchase.total_cost | number_format(2) }}</td>
                            <td class="md:px-6 md:py-4 px-10 ">
                                <form method="post" action="/update-purchase-status">
                                    <select name="status" onchange="this.form.submit()" class="rounded-full text-xs 
                                    md:block md:w-10/12 text-center p-1 md:p-0 md:py-1 text-white
                                            {% if purchase.status|upper == 'COMPLETED' %} dark:bg-green-700 bg-green-400
                                        {% elseif purchase.status|upper == 'PENDING' %} dark:bg-yellow-600 bg-yellow-400
                                        {% elseif purchase.status|upper == 'FAILED' %} dark:bg-red-700 bg-red-400
                                        {% elseif purchase.status|upper == 'CANCELED' %} dark:bg-gray-700 bg-gray-400
                                        {% elseif purchase.status|upper == 'BACKORDERED' %} dark:bg-orange-700 bg-orange-400
                                        {% else %} bg-blue-500 {% endif %}
                                    ">
                                        <option value="completed" {% if purchase.status == 'completed' %}selected{% endif %}>Completed</option>
                                        <option value="pending" {% if purchase.status == 'pending' %}selected{% endif %}>Pending</option>
                                        <option value="failed" {% if purchase.status == 'failed' %}selected{% endif %}>Failed</option>
                                        <option value="canceled" {% if purchase.status == 'canceled' %}selected{% endif %}>Canceled</option>
                                        <option value="backordered" {% if purchase.status == 'backordered' %}selected{% endif %}>Backordered</option>
                                    </select>
                                    <input type="hidden" name="purchase_id" value="{{ purchase.purchase_id }}">  
                                </form>
                            </td>
                            <!-- <td class="md:px-6 md:py-4">
                                <form method="post" action="/update-purchase-status">
                                    <select name="status" onchange="this.form.submit()" class="rounded-full text-xs md:block md:w-10/12 text-center p-1 md:p-0 md:py-1 text-white
                                            {% if purchase.status|upper == 'COMPLETED' %} dark:bg-green-700 bg-green-400
                                        {% elseif purchase.status|upper == 'PENDING' %} dark:bg-yellow-600 bg-yellow-400
                                        {% elseif purchase.status|upper == 'FAILED' %} dark:bg-red-700 bg-red-400
                                        {% elseif purchase.status|upper == 'CANCELLED' %} dark:bg-gray-700 bg-gray-400
                                        {% elseif purchase.status|upper == 'BACKORDERED' %} dark:bg-orange-700 bg-orange-400
                                        {% else %} bg-blue-500 {% endif %}
                                    ">
                                        <option value="completed" {% if purchase.status == 'completed' %}selected{% endif %}>Completed</option>
                                        <option value="pending" {% if purchase.status == 'pending' %}selected{% endif %}>Pending</option>
                                        <option value="failed" {% if purchase.status == 'failed' %}selected{% endif %}>Failed</option>
                                        <option value="canceled" {% if purchase.status == 'canceled' %}selected{% endif %}>Canceled</option>
                                        <option value="backordered" {% if purchase.status == 'backordered' %}selected{% endif %}>Backordered</option>
                                    </select>
                                    <input type="hidden" name="purchase_id" value="{{ purchase.id }}">  
                                </form>
                            </td> -->
                            <!-- <td class="md:px-6 md:py-4">
                                <span class="
                                    {% if purchase.status|upper == 'COMPLETED' %} dark:bg-green-700 bg-green-400
                                    {% elseif purchase.status|upper == 'PENDING' %} dark:bg-yellow-600 bg-yellow-400
                                    {% elseif purchase.status|upper == 'FAILED' %} dark:bg-red-700 bg-red-400
                                    {% elseif purchase.status|upper == 'CANCELLED' %} dark:bg-gray-700 bg-gray-400
                                    {% elseif purchase.status|upper == 'BACKORDERED' %} dark:bg-orange-700 bg-orange-400
                                    {% else %} bg-blue-500 {% endif %}
                                    p-1 md:p-0 md:py-1 rounded-full text-white text-xs
                                    md:block md:w-10/12 text-center">
                                    {% if purchase.status|upper == 'COMPLETED' %} <i class="fa-solid fa-circle-check"></i>
                                    {% elseif purchase.status|upper == 'PENDING' %} <i class="fa-solid fa-spinner"></i>
                                    {% elseif purchase.status|upper == 'FAILED' %} <i class="fa-solid fa-circle-exclamation"></i>
                                    {% elseif purchase.status|upper == 'CANCELLED' %} <i class="fa-solid fa-xmark"></i>
                                    {% elseif purchase.status|upper == 'BACKORDERED' %} <i class="fa-solid fa-clock"></i>
                                    {% endif %}
                                    <span class="hidden md:inline">
                                        {{ purchase.status|upper }}
                                    </span>
                                </span>
                            </td> -->
                            <td class="md:px-6 md:py-4 space-x-3 flex flex-wrap justify-center">
                                <button 
                                onclick="updatePurchasePanel(this)"
                                data-id="{{ purchase.purchase_id }}" 
                                class="text-blue-400 
                                dark:text-blue-500 
                                hover:text-blue-800 text-xs md:text-base transition-all duration-200">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                
                                <button 
                                onclick="openDeleteModal(this)" 
                                data-id="{{ purchase.purchase_id }}" 
                                data-material-count="{{ purchase.material_count }}" 
                                class="text-red-400 hover:text-red-800 dark:text-red-500 
                                text-xs md:text-base transition-all duration-200">
                                    <i class="fa-solid fa-trash"></i>
                                </button>

                                <button 
                                onclick="viewPurchasePanel(this)" 
                                data-id="{{ purchase.purchase_id }}" 
                                class="text-green-400 hover:text-green-800 dark:text-green-500 
                                dark:hover:text-green-700 text-xs md:text-base transition-all duration-200">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing 
                <span class="font-semibold text-gray-900 dark:text-white">
                    <!-- Entry Dropdown Button -->
                    <button id="entryDropdownButton" data-dropdown-toggle="entryDropdownMenu" data-dropdown-placement="bottom"
                        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none 
                        hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5
                        dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                        <span id="selectedEntry" class="ms-2">{{ entryValue }} entries</span>
                        <svg class="w-2.5 h-2.5 ms-2.5 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="entryDropdownMenu" class="z-9999 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                        <form id="entryForm" class="filter-form" action="" method="post">
                            <div class="p-3">
                                <label for="customEntryInput" class="sr-only">Custom Entry</label>
                                <input type="number" id="customEntryInput" name="entryValue" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Custom entry" value="{{ entryValue }}">
                            </div>
                            
                            <ul class="px-3 pb-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="entryDropdownButton">
                                {% for val in [5, 10, 20, 30, 50, 100] %}
                                <li>
                                    <button type="submit" name="entryValue" value="{{ val }}" class="w-full text-left py-2 px-3 rounded dark:hover:bg-gray-600 hover:bg-gray-100
                                    {% if entryValue == val %}
                                        bg-gray-200 dark:bg-gray-900
                                    {% endif %}">
                                    {{ val }}
                                </button>
                                </li>
                                {% endfor %}
                            </ul>
                        </form>            
                    </div>

                </span> of <span class="font-semibold text-gray-900 dark:text-white">{{ purchaseCount }}</span></span>
            <!-- <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                </li>
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                </li>
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
                </li>
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
                </li>
                <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul> -->
        </nav>
    
    

    </section>

{% endblock %}


{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ ASSETS_URL }}/js/calendarTheme.js"></script>
    <!-- <script src="{{ ASSETS_URL }}/js/tableEntry.js"></script> -->
    <script src="{{ ASSETS_URL }}/js/purchase/addItemUpdatePurchase.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/addRemoveItem.js"></script>
    <!-- <script src="{{ ASSETS_URL }}/js/entries.js"></script> -->
    <script src="{{ ASSETS_URL }}/js/filterSubmission.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/addPurchasePanel.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/viewPurchasePanel.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/updatePurchasePanel.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/openDeleteModal.js"></script>
    <script src="{{ ASSETS_URL }}/js/purchase/rangeSync.js"></script>
{% endblock %}
