{% extends 'root.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/link.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/scrollbar.css">
    <script src="https://kit.fontawesome.com/c3d300ba56.js" crossorigin="anonymous"></script>
{% endblock %}

{% block panel_title %}
    Overview
{% endblock %}

{% set paths = [
    { 'name': 'Dashboard', 'url': '/dashboard' }
] %}

{% block body %}

    <section class="grid sm:grid-cols-6 lg:grid-cols-12 gap-5">
        <div class="grid lg:grid-rows-2 grid-cols-6 col-span-7 lg:col-span-5 gap-4">
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-clock text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Production Efficiency</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">{{ productionEfficiency.current_batch_count }}</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold {% if productionEfficiency.percentage_change < 0 %}
                                        text-red-500
                                    {% else %}
                                        text-green-500
                                    {% endif %} flex space-x-5">
                            <p>
                                {% if productionEfficiency.percentage_change < 0 %}
                                    <i class="fa-solid fa-arrow-trend-down"></i> 
                                {% else %}
                                    <i class="fa-solid fa-arrow-trend-up"></i> 
                                {% endif %}
                                {{ productionEfficiency.percentage_change|round(2, 'common') }}%
                            </p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
    
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-bars-progress text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Total Orders</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">{{ totalOrders.current_order_count }}</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold {% if totalOrders.percentage_change < 0 %}
                                        text-red-500
                                    {% else %}
                                        text-green-500
                                    {% endif %} flex space-x-5">
                            <p>
                                {% if totalOrders.percentage_change < 0 %}
                                    <i class="fa-solid fa-arrow-trend-down"></i> 
                                {% else %}
                                    <i class="fa-solid fa-arrow-trend-up"></i> 
                                {% endif %}
                                {{ totalOrders.percentage_change|round(2, 'common') }}%
                            </p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>

            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-square-poll-vertical text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Sales Performance</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total Revenue</h1>
                        <h1 class="font-semibold text-2xl">${{ salesPerformance.current.total_revenue | number_format(2) }}</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold flex space-x-5 
                                    {% if salesPerformance.percentage_change < 0 %}
                                        text-red-500
                                    {% else %}
                                        text-green-500
                                    {% endif %}
                                ">
                            <p>
                                {% if salesPerformance.percentage_change < 0 %}
                                    <i class="fa-solid fa-arrow-trend-down"></i> 
                                {% else %}
                                    <i class="fa-solid fa-arrow-trend-up"></i> 
                                {% endif %}
                                {{ salesPerformance.percentage_change|round(2, 'common') }}%
                            </p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
    
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-truck text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Purchase Frequency</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total Spending</h1>
                        <h1 class="font-semibold text-2xl">${{ purchaseFrequency.current.total_spending | number_format(2) }}</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold {% if purchaseFrequency.percentage_change < 0 %}
                                        text-red-500
                                    {% else %}
                                        text-green-500
                                    {% endif %} flex space-x-5">
                            <p>
                                {% if purchaseFrequency.percentage_change < 0 %}
                                    <i class="fa-solid fa-arrow-trend-down"></i> 
                                {% else %}
                                    <i class="fa-solid fa-arrow-trend-up"></i> 
                                {% endif %}
                                {{ purchaseFrequency.percentage_change|round(2, 'common') }}%
                            </p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
        </div>

        <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
            <!-- <h1 class="font-bold text-lg text-gray-700 dark:text-white">Production Trends</h1> -->
            <div id="productionChart" class=""></div>
        </div>
    </section>
    
    <section class="mt-8 flex flex-col h-full">
        <div class="grid lg:grid-cols-12 gap-10 h-full">
            <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-white border-gray-300 dark:bg-slate-800 space-y-5">
                <!-- <h1 class="font-bold text-lg text-gray-700 dark:text-white">Inventory Distribution</h1> -->
                <div id="barChart" class=""></div>
            </div>
        
            <div class="col-span-5 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
                <!-- <h1 class="font-bold text-lg text-gray-700 dark:text-white">Pie Chart</h1> -->
                <div id="pieChart" class=""></div>
            </div>
        </div>
    </section>

    <section class="mt-8 flex flex-col">
        <div class="grid lg:grid-cols-12 gap-10 h-full">
            <div class="col-span-6 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-white border-gray-300 dark:bg-slate-800 space-y-5">
                
                <span class="flex justify-between">
                    <h1 class="font-bold text-lg text-gray-700 dark:text-white">Expiring List</h1>
                    <a href="/inventory/manufactured" class="flex space-x-3 items-center text-blue-300 dark:text-purple-500">
                        <span class="link__underline_hover">See All</span>
                        <span class="p-1 bg-blue-100 dark:bg-purple-500 rounded-full">
                            <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                            </svg>
                        </span>
                    </a>
                </span>

                <div class="w-full max-h-[24rem] overflow-y-auto border border-gray-300 dark:border-gray-700 rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="relative text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr class="sticky top-0 bg-white dark:bg-gray-700">
                                <th scope="col" class="px-6 py-3">
                                    Medicine Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Batch Number
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Expiry Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Stock Level
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medicineBatch in medicineBatchData %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ medicineBatch.medicine_name }}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ medicineBatch.batch_id }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ medicineBatch.expiry_date }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ medicineBatch.stock_level }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        
            <div class="col-span-6 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
                <span class="flex justify-between">
                    <h1 class="font-bold text-lg text-gray-700 dark:text-white">Recent Orders</h1>
                    <a href="/order-list" class="flex space-x-3 items-center text-blue-300 dark:text-purple-500">
                        <span class="link__underline_hover">See All </span>
                        <span class="p-1 bg-blue-100 dark:bg-purple-500 rounded-full">
                            <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                            </svg>
                        </span>
                    </a>
                </span>

                <div class="w-full max-h-[24rem] overflow-y-auto border border-gray-300 dark:border-gray-700 rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="relative text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr class="sticky top-0 bg-white dark:bg-gray-700">
                                <th scope="col" class="px-6 py-3">
                                    Order ID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Customer Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Order Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orderData %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ order.order_id }}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ order.customer_name }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ order.date }}
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="rounded-md text-xs text-center p-2 text-white w-24
                                                {% if order.order_status|upper == 'COMPLETED' %} dark:bg-green-800 bg-green-400 dark:text-green-300
                                                {% elseif order.order_status|upper == 'PROCESSING' %} dark:bg-yellow-700 bg-yellow-400 dark:text-yellow-300
                                                {% elseif order.order_status|upper == 'FAILED' %} dark:bg-red-800 bg-red-400 dark:text-red-300
                                                {% elseif order.order_status|upper == 'CANCELED' %} dark:bg-gray-600 bg-gray-300 dark:text-gray-300
                                                {% elseif order.order_status|upper == 'BACKORDERED' %} dark:bg-orange-800 bg-orange-400 dark:text-orange-300
                                                {% else %} bg-yellow-500 {% endif %}">
                                                {{ order.order_status| title }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <!-- <section class="mt-8 flex flex-col h-full">
        <div class="grid lg:grid-cols-11 gap-10 h-full">
        
            <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-500 bg-gray-50 border-gray-300 dark:bg-slate-600 space-y-5">

            </div>

            <div class="col-span-4 px-6 py-3 rounded-lg border-x border dark:border-slate-500 bg-gray-50 border-gray-300 dark:bg-slate-600 space-y-5">

            </div>

        </div>
    </section> -->


{% endblock %}


{% block scripts %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ ASSETS_URL }}/js/dashboard/charts.js"></script>
{% endblock %}
