{% extends 'root.twig' %}

{% block title %}
    Order List
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/order/tabbed-nav.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/link.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/scrollbar.css">
    <script src="https://kit.fontawesome.com/c3d300ba56.js" crossorigin="anonymous"></script>
{% endblock %}

{% block panel_title %}
    Order List
{% endblock %}

{% set paths = [
    { 'name': 'Dashboard', 'url': '/dashboard' },
    { 'name': 'Order List', 'url': '/order-list' }
] %}

{% block body %}

    {% if errors %}
        <div class="error-container bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 fixed top-0 left-0 right-0 z-[999] transition-all duration-300"
            role="alert">
            <p class="font-bold">Warning</p>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <section class="order__list_container_head grid grid-cols-6 lg:grid-cols-10 gap-5">
        <div class="col-span-3 lg:col-span-2 border dark:border-slate-500 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-600">
            <span class="flex items-center space-x-2 mb-4">
                <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
                </svg>
                <h1 class="font-semibold text-sm 2xl:text-base">Total Orders</h1>
            </span>

            <span class="text-end">
                <h1 class="font-semibold text-sm text-slate-500 dark:text-gray-300">This Month</h1>
                <h1 class="font-semibold text-2xl">50</h1>
            </span>
        </div>

        <div class="col-span-3 lg:col-span-2 border dark:border-slate-500 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-600">
            <span class="flex items-center space-x-2 mb-4">
                <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 0 0-1 1H6a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-2a1 1 0 0 0-1-1H9Zm1 2h4v2h1a1 1 0 1 1 0 2H9a1 1 0 0 1 0-2h1V4Zm5.707 8.707a1 1 0 0 0-1.414-1.414L11 14.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                </svg>
                <h1 class="font-semibold text-sm 2xl:text-base">Orders Fulfilled</h1>
            </span>

            <span class="text-end">
                <h1 class="font-semibold text-sm text-slate-500 dark:text-gray-300">This Month</h1>
                <h1 class="font-semibold text-2xl">50</h1>
            </span>
        </div>

        <div class="col-span-3 lg:col-span-2 border dark:border-slate-500 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-600">
            <span class="flex items-center space-x-2 mb-4">
                <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v9a1 1 0 0 0 1 1h.535a3.5 3.5 0 1 0 6.93 0h3.07a3.5 3.5 0 1 0 6.93 0H21a1 1 0 0 0 1-1v-4a.999.999 0 0 0-.106-.447l-2-4A1 1 0 0 0 19 6h-5a2 2 0 0 0-2-2H4Zm14.192 11.59.016.02a1.5 1.5 0 1 1-.016-.021Zm-10 0 .016.02a1.5 1.5 0 1 1-.016-.021Zm5.806-5.572v-2.02h4.396l1 2.02h-5.396Z" clip-rule="evenodd"/>
                </svg>
                <h1 class="font-semibold text-sm 2xl:text-base">Orders Shipped</h1>
            </span>

            <span class="text-end">
                <h1 class="font-semibold text-sm text-slate-500 dark:text-gray-300">This Month</h1>
                <h1 class="font-semibold text-2xl">50</h1>
            </span>
        </div>

        <div class="col-span-3 lg:col-span-2 border dark:border-slate-500 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-600">
            <span class="flex items-center space-x-2 mb-4">
                <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M9 15a6 6 0 1 1 12 0 6 6 0 0 1-12 0Zm3.845-1.855a2.4 2.4 0 0 1 1.2-1.226 1 1 0 0 1 1.992-.026c.426.15.809.408 1.111.749a1 1 0 1 1-1.496 1.327.682.682 0 0 0-.36-.213.997.997 0 0 1-.113-.032.4.4 0 0 0-.394.074.93.93 0 0 0 .455.254 2.914 2.914 0 0 1 1.504.9c.373.433.669 1.092.464 1.823a.996.996 0 0 1-.046.129c-.226.519-.627.94-1.132 1.192a1 1 0 0 1-1.956.093 2.68 2.68 0 0 1-1.227-.798 1 1 0 1 1 1.506-1.315.682.682 0 0 0 .363.216c.038.009.075.02.111.032a.4.4 0 0 0 .395-.074.93.93 0 0 0-.455-.254 2.91 2.91 0 0 1-1.503-.9c-.375-.433-.666-1.089-.466-1.817a.994.994 0 0 1 .047-.134Zm1.884.573.003.008c-.003-.005-.003-.008-.003-.008Zm.55 2.613s-.002-.002-.003-.007a.032.032 0 0 1 .003.007ZM4 14a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0v-4a1 1 0 0 1 1-1Zm3-2a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Zm6.5-8a1 1 0 0 1 1-1H18a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-.796l-2.341 2.049a1 1 0 0 1-1.24.06l-2.894-2.066L6.614 9.29a1 1 0 1 1-1.228-1.578l4.5-3.5a1 1 0 0 1 1.195-.025l2.856 2.04L15.34 5h-.84a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                </svg>
                <h1 class="font-semibold text-sm 2xl:text-base">Revenue</h1>
            </span>

            <span class="text-end">
                <h1 class="font-semibold text-sm text-slate-500 dark:text-gray-300">This Month</h1>
                <h1 class="font-semibold text-2xl">50</h1>
            </span>
        </div>

        <div class="col-span-6 lg:col-span-2 border dark:border-slate-500 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-600">
            <span class="flex items-center space-x-2 mb-4">
                <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                </svg>
                <h1 class="font-semibold text-sm 2xl:text-base">Payments Due</h1>
            </span>

            <span class="text-end">
                <h1 class="font-semibold text-sm text-slate-500 dark:text-gray-300">This Month</h1>
                <h1 class="font-semibold text-2xl">50</h1>
            </span>
        </div>
    </section>

    <section class="order__list_container_content mt-8 flex flex-col h-full">
        <form class="flex-grow flex flex-col">
            <div class="flex justify-between items-end space-x-5">
                <ul class="tabbed__nav scrollbar__thin flex space-x-5 overflow-x-auto items-center w-5/12 2xl:w-7/12">
                    <li class="hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent tab-item">
                        <a href="#" class="font-medium flex items-center px-4 py-2">
                            <i class="fa-solid fa-border-all text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>
                            All
                        </a>
                    </li>
                    <li class="link__underline_hover hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent">
                        <a href="#" class="font-medium flex items-center px-4 py-2">
                            <i class="fa-solid fa-dollar-sign text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>
                            Unpaid
                        </a>
                    </li>
                    <li class="link__underline_hover hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent">
                        <a href="#" class="font-medium flex items-center px-4 py-2">
                            <i class="fa-regular fa-paper-plane text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>
                            Need to ship
                        </a>
                    </li>
                    <li class="link__underline_hover hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent">
                        <a href="#" class="font-medium flex items-center px-4 py-2">
                            <i class="fa-regular fa-envelope text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>
                            Sent
                        </a>
                    </li>
                    <li class="link__underline_hover hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent">
                        <a href="#" class="font-medium flex items-center px-4 py-2">
                            <i class="fa-solid fa-list-check text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>
                            Completed
                        </a>
                    </li>
                    <li class="link__underline_hover hover:text-[#3280c9] dark:hover:text-[#b5a4f7] transition-color duration-150 text-nowrap text-gray-700 dark:text-white
                    group border-x border-t border-transparent">
                        <a href="#" class=" font-medium flex items-center px-4 py-2">
                            <i class="fa-solid fa-arrow-right-arrow-left text-gray-500 dark:text-gray-300 group-hover:text-[#3280c9] dark:group-hover:text-[#b5a4f7]
                            tab-icon"></i>   
                            Returns
                        </a>
                    </li>
                </ul>

                <div class="grid grid-cols-1 2xl:grid-cols-12 w-6/12 2xl:w-5/12 mb-3">
                    <div class="relative order-2 2xl:order-1 col-span-8">
                        <button class="absolute w-7 inset-y-0 end-3 md:start-0 flex items-center ps-3">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </button>
                        <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 
                        text-sm rounded-lg block w-full p-2.5
                        transition-all duration-200
                        focus:bg-gray-200 dark:focus:bg-slate-600
                        outline-none h-11 min-h-11
                        dark:bg-slate-500 dark:border-slate-800 ps-8
                        dark:placeholder-gray-400 dark:text-white
                        placeholder-transparent md:placeholder-gray-500" placeholder="Search order here">
                    </div>
    
                    <div class="order-1 mb-3 2xl:mb-0 2xl:order-2 col-span-4 place-self-end">
                        <button onclick="addOrderTogglePanel()" class="bg-[#2998FF] hover:bg-[#3280c9]  
                        dark:bg-[#7655fa] dark:hover:bg-[#8162fa] transition-all duration-200 text-white 
                        rounded-lg px-3 py-2.5 flex justify-center items-center text-nowrap">
                            <ion-icon name="add-outline" class="add__icon dark:text-[#fdfdfd] mr-2"></ion-icon>    
                            Add Order
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="h-full p-6 rounded-b-lg border-x border-b border-t-0 dark:border-slate-800 bg-gray-50 border-gray-300 dark:bg-slate-500 flex-grow">
                <div class="w-full max-h-[27rem] overflow-y-auto border border-gray-300 dark:border-gray-700 rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="relative text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr class="sticky top-0 bg-white dark:bg-gray-700">
                                <th scope="col" class="p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Order ID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Customer
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Product Count
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Total Cost
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Payment Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Order Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Apple MacBook Pro 17"
                                </th>
                                <td class="px-6 py-4">
                                    Silver
                                </td>
                                <td class="px-6 py-4">
                                    Laptop
                                </td>
                                <td class="px-6 py-4">
                                    Yes
                                </td>
                                <td class="px-6 py-4">
                                    Yes
                                </td>
                                <td class="px-6 py-4">
                                    $2999
                                </td>
                                <td class="px-6 py-4">
                                    3.0 lb.
                                </td>
                                <td class="flex items-center px-6 py-4">
                                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
    


{% endblock %}


{% block scripts %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ ASSETS_URL }}/js/calendarTheme.js"></script> -->
    <script src="{{ ASSETS_URL }}/js/order/tabbedNavigation.js"></script>

{% endblock %}
