<div class="h-full w-full px-8 py-6" id="updateBatchPanel">
    <div class="flex justify-between mb-6">
        <h2 class="text-2xl font-semibold">Update Batch</h2>
        <button onclick="updateClosePanelBatch()" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded transition-all duration-150">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
        </button>
    </div>

    <!-- Batch Information Section -->
    <form action="" method="post" class="update__form_batch_existing">
        <div class="border-t border-gray-300 dark:border-gray-600 mt-6 pt-6">
            <div id="items__container_update" class="space-y-6">
                <div class="item__template_update relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-b border-gray-300 dark:border-gray-600 py-6">

                    <input type="hidden" name="batch_id" value="{{ batchData.batch_id }}">

                    <div class="col-span-5">
                        <label for="production-date" class="block text-sm font-medium">Production Date</label>
                        <input type="text" id="production-date" name="production_date" placeholder="28 Jun, 2022 - 10:00"
                        class="mt-1 block w-full h-12 rounded-lg border border-gray-300 dark:border-gray-600 focus:border-blue-400 
                        dark:focus:border-blue-500 dark:bg-gray-700 px-4" onfocus="(this.type='date')" onblur="(this.type='text')" 
                        value="{{ batchData.production_date }}">
                    </div>
        
                    <div class="col-span-5">
                        <label for="rack" class="block text-sm font-medium">Rack</label>
                        <select id="rack-id" name="rack" class="rack mt-1 block w-full h-12 rounded-lg border border-gray-300 dark:border-gray-600 dark:bg-gray-700 px-4" >
                            <option value="" selected disabled>Select a Rack</option>
                            {% for rack in rackData %}
                                <option value="{{ rack.id }}" {% if batchData.rack_id_fk == rack.id %} selected {% endif %}>{{ rack.id }} - {{ rack.location }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save and Reset Buttons -->
        <div class="flex justify-end gap-4 mt-6 pb-6">
            <button type="reset" class="transition-all duration-150 px-6 py-2 rounded-lg bg-gray-300 dark:bg-gray-600 hover:bg-gray-400 dark:hover:bg-gray-700">Reset</button>
            <button type="submit" class="transition-all duration-150 px-6 py-2 text-white bg-[#2998FF] dark:bg-[#7655fa] rounded-lg hover:bg-opacity-80">Save</button>
        </div>
    </form>
</div>